/* 头部样式开始 */
.header{
    width:100%;
    height: 55px;
    background-color: white;
    font-size: 12px;
    line-height: 55px;
}
.header-left{
    float: left;
    width: 179px;
    height: 54px;
    background-color: red;
    color: #fff;
}
.header a{
    text-decoration: none;
}
.header-right{
    float: right;
    width: 138px;
    height: 54px;
    border-left: 1px solid #dadada;
    color: #333;
}
/* 头部样式结束 */

/* 导航样式开始 */
.nav{
    z-index: 666;
    position: sticky;
    top: 0px;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: black;
}

/* 水平居中的容器，不设置高度 */
.wrap{
    width: 1180px;
    margin: 0 auto;
}
.nav li{
    float:left;
    width: 12.3%;
    border-left:1px solid white;
    border-right:1px solid white ;
}
.nav a{
    color: #fff;
    font-size: 17px;
    text-decoration: none;
}
.nav a>li:hover{
    color: #000;
}
.nav li:hover{
    background-color: rgb(12, 129, 133);
}
.active{
    background-color: aqua;
}
a>.active{
    color: #000;
}
/* 导航样式结束 */

/* 页面 */
.bender>img{
    position: relative;
    width: 100%;
}

.page{
    width: 1180px;
    margin: 0 auto;
    background-color: #f6f4f0;
}
.page>img{
   position: relative;
   width: 100%;
}

.page-header{
    font-size: 25px;
    text-align: left;
    color: #bb00ff;
    background-color: aqua;
    
}
.page-1{
    font-size: 18px;
    text-align: left;
    color: #ffffff;
    background: url(../image/1280.webp) no-repeat center center;

}
.page-2{
    font-size: 18px;
    text-align: left;
    color: #ffffff;
    background: url(../image/u=3803430652\,1225809318&fm=253&fmt=auto&app=138&f=JPEG.webp) no-repeat center center;
    background-size: 100% auto;
}
.page-3{
    font-size: 18px;
    text-align: left;
    color: #ffffff;
    background-color: rgb(0, 0, 0);
}
.page-3>img{
    width: 100%;
}
.page-0{
    text-align: left;
    text-indent: 4ex;
}
/* 页面结束 */